{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="tablecontainer">
<table class="table borderless">
    <tbody>
      <tr>
        <td><img class="clientlogo" src="{% static 'images/logos/koc.png' %}"></td>
        <td><img class="clientlogo" src="{% static 'images/logos/eitt.png' %}"></td>
        <td><img class="clientlogo" src="{% static 'images/logos/equate.jpg' %}"></td>
        <td><img class="clientlogo" src="{% static 'images/logos/sbc.png' %}"></td>
      </tr>
      <tr>
        <td><img class="clientlogo" src="{% static 'images/logos/hospital.png' %}"></td>
        <td><img class="clientlogo" src="{% static 'images/logos/knpc.jpg' %}"></td>
        <td><img class="clientlogo" src="{% static 'images/logos/landt.png' %}"></td>
        <td><img class="clientlogo" src="{% static 'images/logos/petrofac.png' %}"></td>
      </tr>
      <tr>
        <td><img class="clientlogo" src="{% static 'images/logos/sk.png' %}"></td>
        <td><img class="clientlogo" src="{% static 'images/logos/sutan.jpg' %}"></td>
        <td><img class="clientlogo" src="{% static 'images/logos/gulfspic.jpg' %}"></td>
      </tr>
    </tbody>
  </table>
  </div>
{% endblock %}