{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="wearecontainer" style="height:500px">
    <div class="content paracolor">
		    <h2 class="header" style="margin-left:30px">Our Team</h2><hr>
		    <p style="margin-left:30px;">
		    	<b>A</b>t Sedarat Al-Barakh, we have a team of skilled professionals and support team who are the Source of inspiration able to  work through with result oriented targets.<br><b>O</b>ur Motto is to Support every requirement of our highly valued and respectable Clientele & their  missions.
		    </p>
		    <b><h3 class="header" style="margin-top:50px;margin-left:30px"><u>Our ProfessionalTeam</u></h3></b>
		    <table class="table listwork" style="width:80%;border:none;margin-left:130px;">
            <tbody>
              <tr>
		        <td><span class="glyphicon glyphicon-asterisk">  Civil Engineers</td>
		        <td><span class="glyphicon glyphicon-asterisk">  Electrical Engineers</td>
		        <td><span class="glyphicon glyphicon-asterisk">  Mechanical Engineers</td>
		        <td><span class="glyphicon glyphicon-asterisk">  Supervisors</td>
		      </tr>
		      <tr>
		        <td><span class="glyphicon glyphicon-asterisk">  6 G Welder</td>
		        <td><span class="glyphicon glyphicon-asterisk">  ARC Welder</td>
		        <td><span class="glyphicon glyphicon-asterisk">  TIG welder</td>
		        <td><span class="glyphicon glyphicon-asterisk">  Aluminum Fabricators</td>
		      </tr>
		      <tr>
		        <td><span class="glyphicon glyphicon-asterisk">  Manpower Supply</td>
		        <td><span class="glyphicon glyphicon-asterisk">  Electricians</td>
		        <td><span class="glyphicon glyphicon-asterisk">  Plumbers</td>
		        <td><span class="glyphicon glyphicon-asterisk">  Mason</td>
		      </tr>
		      <tr>
		        <td><span class="glyphicon glyphicon-asterisk">  Ceramic Tile Workers</td>
		        <td><span class="glyphicon glyphicon-asterisk">  Steel Fixers</td>
		        <td><span class="glyphicon glyphicon-asterisk">  Form work Carpenters</td>
		        <td><span class="glyphicon glyphicon-asterisk">  Shuttering Carpenters</td>
		      </tr>
		      <tr>
		        <td><span class="glyphicon glyphicon-asterisk">  Wooden Carpenters</td>
		        <td><span class="glyphicon glyphicon-asterisk">  Furniture Polisher</td>
		        <td><span class="glyphicon glyphicon-asterisk">  Heavy Drivers</td>
		        <td><span class="glyphicon glyphicon-asterisk">  Forklift Operator</td>
		      </tr>
		      <tr>
		        <td><span class="glyphicon glyphicon-asterisk">  Excavation Labors</td>
		        <td><span class="glyphicon glyphicon-asterisk">  General Labors & Helpers</td>
		      </tr>
		    </tbody>
		  </table>
    </div>
</div>

{% endblock %}