{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="wearecontainer" style="height:500px">
	<div id="wearecontentsec" style="width:90%;height:100%;">
		<div class="content paracolor">
		    <h2 class="header" style="margin-left:30px">We Are....</h2><hr>
		    <p style="margin-left:30px;">
		    	 &nbsp&nbsp&nbsp&nbsp<b>W</b>e are pleased to introduce ourselves as one of established Trading & Contracting Companies In the state of Kuwait since 2002, with the primary objective of providing Diversified Multidimensional business client requirements including Civil Contracts, Electrical & Mechanical works, Manpower, Interior Designing etc.., thus providing a unique basis of  continual Innovation focused on the needs of our customers.<br>

		    	&nbsp&nbsp&nbsp&nbsp<b>W</b>e are a group of Dedicated Professionals working together to offer full competent and  higher caliber services to our clients in the whole spectrum of Trading, Contracting & related activities. We, <b>SBTC</b>, have a proven record of  10 years of excellence and have a Paid Up Capital of <b>KWD 50,000.</b> <br>

		    	&nbsp&nbsp&nbsp&nbsp<b>W</b>e function as a small but independent organization specialized in services to our Valued clientele. The Spectrum of services rendered by our organization covers  the Range of project activities right from conception, covers to the final execution of  The project, as mentioned below.<br>
		    </p>
		    <table class="table listwork" style="width:50%;border:none;">
            <tbody>
              <tr>
		        <td><span class="glyphicon glyphicon-asterisk">Civil Works</td>
		        <td><span class="glyphicon glyphicon-asterisk">Electrical Works</td>
		      </tr>
		      <tr>
		        <td><span class="glyphicon glyphicon-asterisk">Mechanical Works</td>
		        <td><span class="glyphicon glyphicon-asterisk">General Contracting</td>
		      </tr>
		      <tr>
		        <td><span class="glyphicon glyphicon-asterisk">Manpower Supply</td>
		        <td><span class="glyphicon glyphicon-asterisk">Contracting</td>
		      </tr>
		    </tbody>
		  </table>
		</div>
	</div>
</div>



{% endblock %}